@model SharingService.ViewModels.HuntConfiguration;

<div>
    @if(@Model.WhoseAnchors != null && @Model.WhoseAnchors.Count() != 0){
        @foreach (var option in Model.WhoseAnchors){
            <input id="addType@(option)" name="WhoseAnchor" type="radio" value="@(option)"> @option <br/>
        }
    } else {
        <p>WhoseAnchors = empty</p>
    }
    
    <form id="addOtherAnchor" asp-controller="Configuration" asp-action="AddHuntAnchor" type="submit">
        <label>Anchor Name: </label><input asp-for="@(Model.newAnchor.AnchorName)">
        <label>User Name: </label><input asp-for="@(Model.newAnchor.UserName)">
        <input asp-for="@(Model.Hunt.UserName)" hidden>
        <input asp-for="@(Model.Hunt.HuntName)" hidden>
        <button type="submit" class="btn btn-primary">
            Add Anchor
        </button>
    </form>

    <form id="addOwnAnchor" asp-controller="Configuration" asp-action="AddHuntAnchor"  type="submit">
            @if(@Model.UserAnchors != null && @Model.UserAnchors.Count() != 0){
                <select asp-for="@(Model.newAnchor.AnchorName)">
                    @foreach(var anchor in Model.UserAnchors){
                        <option value="@(anchor.AnchorName)">@anchor.AnchorName</option>
                    }
                </select>
                <input asp-for="@(Model.newAnchor.UserName)" value="@(Model.Hunt.UserName)" hidden>
                <input asp-for="@(Model.Hunt.UserName)" hidden>
                <input asp-for="@(Model.Hunt.HuntName)" hidden>
                <button type="submit" class="btn btn-primary">
                    Add Anchor
                </button>
            } else {
                <p>You do not yet have any anchors.</p>
            }
    </form>
</div>

<script>
    $("#addTypeMine").click(function(){
            $("#addOtherAnchor").hide();
            $("#addOwnAnchor").show();        
    });

    $("#addTypeOther").click(function(){
        $("#addOtherAnchor").show();
        $("#addOwnAnchor").hide();        
    });
</script>