@model SharingService.ViewModels.UserConfiguration;

<!-- The Modal -->
<div class="modal" id="editHuntModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Hunt</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
    <form asp-controller="Configuration" asp-action="EditHunt" type="submit">
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="@Model.EditHunt.HuntName">Hunt Name: </label>
                <input class="form-control" asp-for="@Model.EditHunt.HuntName" readonly/>
                <span asp-validation-for="@Model.EditHunt.HuntName"></span>
                </br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EditHunt.HuntDescription">Hunt Description: </label>
                <textarea class="form-control" asp-for="@Model.EditHunt.HuntDescription"></textarea>
                <span asp-validation-for="@Model.EditHunt.HuntDescription"></span>
                </br>
            </div>
            <div class="form-group">
                <label id="EditHunt_IsPublicLabel">Is hunt public? </label>
                <input id="EditHunt_IsPublic" type="checkbox"/>
                <input id="editHuntIterator" type="number" hidden/>
            </div>            
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="EditHuntForm()">
                                            Edit Hunt
                                        </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
  </div>
</div>

<script>
    var listNumber;

    function EditHuntForm() {
        var HuntName = $("#EditHunt_HuntName").val();
        var HuntDescription = $("#EditHunt_HuntDescription").val();
        var IsHuntPublic = 0;
        if($("#EditHunt_IsPublic").prop("checked")){
            IsHuntPublic = 1;
        }
        listNumber = $("#editHuntIterator").val();

        var hunt = {HuntName: HuntName, 
                      HuntDescription: HuntDescription,
                      IsPublic: IsHuntPublic};

        $.ajax({
            type: "POST",
            url:"/Configuration/EditHunt",
            data: {hunt:hunt},
            success: function(hunt){
                $("#editHuntModal").modal('hide');
                if(hunt.isPublic == null || hunt.isPublic == 0){
                    $("#isHuntPublic"+listNumber).text("Private");
                } else {
                    $("#isHuntPublic"+listNumber).text("Public");
                }
                $("#HuntDescription"+listNumber).text(hunt.huntDescription);
            }
        })
    };

    function EditHuntModal(listNumber) {
        var huntName = $("#HuntName"+listNumber).text();
        var huntDescription = $("#HuntDescription"+listNumber).text();
        var isHuntPublic = $("#isHuntPublic"+listNumber).text();

        if(isHuntPublic == "Public"){
            $("#EditHunt_IsPublic").prop("checked", true);
        } else {
            $("#EditHunt_IsPublic").prop("checked", false);
        }
            $("#EditHunt_HuntName").attr("readonly", false);
            $("#EditHunt_HuntName").val(huntName);
            $("#EditHunt_HuntName").attr("readonly", true);
            $("#EditHunt_HuntDescription").val(huntDescription);
            $("#editHuntIterator").val(listNumber);
    };
</script>