@model SharingService.ViewModels.UserConfiguration;

<!-- The Modal -->
<div class="modal" id="editAnchorModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Anchor</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
    <form asp-controller="Configuration" asp-action="EditAnchor" type="submit">
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="@Model.EditAnchor.AnchorName">Anchor Name: </label>
                <input class="form-control" asp-for="@Model.EditAnchor.AnchorName" readonly/>
                <span asp-validation-for="@Model.EditAnchor.AnchorName"></span>
                </br>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EditAnchor.AnchorDescription">Anchor Description: </label>
                <textarea class="form-control" asp-for="@Model.EditAnchor.AnchorDescription"></textarea>
                <span asp-validation-for="@Model.EditAnchor.AnchorDescription"></span>
                </br>
            </div>
            <div class="form-group">
                <label id="EditAnchor_IsPublicLabel">Is anchor public? </label>
                <input id="EditAnchor_IsPublic" type="checkbox"/>
                <input id="editIterator" type="number" hidden/>
            </div>           
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="EditAnchorForm()">
                                            Edit Anchor
                                        </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
  </div>
</div>

<script>
    var listNumber;

    function EditAnchorForm() {
        var AnchorName = $("#EditAnchor_AnchorName").val();
        var AnchorDescription = $("#EditAnchor_AnchorDescription").val();
        var IsAnchorPublic = 0;
        if($("#EditAnchor_IsPublic").prop("checked")){
            IsAnchorPublic = 1;
        }
        var UserName = $("#User_UserName").val();
        listNumber = $("#editIterator").val();

        var anchor = {AnchorName: AnchorName, 
                      AnchorDescription: AnchorDescription,
                      IsPublic: IsAnchorPublic,
                      UserName: UserName};

        $.ajax({
            type: "POST",
            url:"/Configuration/EditAnchor",
            data: {anchor:anchor},
            success: function(anchor){
                $("#editAnchorModal").modal('hide');
                if(anchor.isPublic == null || anchor.isPublic == 0){
                    $("#isAnchorPublic"+listNumber).text("Private");
                } else {
                    $("#isAnchorPublic"+listNumber).text("Public");
                }
                $("#AnchorDescription"+listNumber).text(anchor.anchorDescription);
            }
        })
    };

    function EditAnchorModal(listNumber) {
        var anchorName = $("#AnchorName"+listNumber).text();
        var anchorDescription = $("#AnchorDescription"+listNumber).text();
        var isAnchorPublic = $("#isAnchorPublic"+listNumber).text();

        if(isAnchorPublic == "Public"){
            $("#EditAnchor_IsPublic").prop("checked", true);
        } else {
            $("#EditAnchor_IsPublic").prop("checked", false);
        }
            $("#EditAnchor_AnchorName").attr("readonly", false);
            $("#EditAnchor_AnchorName").val(anchorName);
            $("#EditAnchor_AnchorName").attr("readonly", true);
            $("#EditAnchor_AnchorDescription").val(anchorDescription);
            $("#editIterator").val(listNumber);
    };
</script>